html {
    padding: 0;
    margin: 0;
}


/* cart page image css */
#img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card {
    cursor: default;
}
/* End */

/* side cart on the cart page */
 #aside {
    border-radius: 4px;
    opacity: 0;
    transform: translateY(20px);
    animation: sideCart ease-in-out 0.5s forwards;
    animation-play-state: paused;
    position: absolute;
    right: 0;
    top: 112px;
    overflow-y: auto;
    max-height: 551px;
} 

@keyframes sideCart {
    0% {
            opacity: 0;
            transform: translateY(20px);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0);
        }
}

/* End */

/* animation for home page */
.staggered-title .line {
    display: inline-block;
    padding: 0px 10px 0px 10px;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInStaggered 1s ease-in-out forwards;
}

/* different delays for each line */
.staggered-title :nth-child(1) {
    animation-delay: 0.2s;
    /* What */
}

.staggered-title :nth-child(2) {
    animation-delay: 0.4s;
    /* I.S */
}

.staggered-title :nth-child(3) {
    animation-delay: 0.6s;
    /* Fashion */
}

@keyframes fadeInStaggered {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* end of animation css*/

/* random Item css */
#randomItem {
    width: 400px;
    margin: auto;
    border-radius: 4px;
}
/* End */

p {
    padding: 0;
    margin: 0;
}

h3 {
    font-size: medium;
    width: 500px;
    margin: auto;
    padding-bottom: 20px;
}

/* for the acrive class so that it is not blue */
.active a {
    background-color: rgb(20, 20, 20) !important;
}

.SortGroups .list-group-item.active {
    background-color: rgb(20, 20, 20) !important;
}
/* End */

