body{
    background-color: rgb(32, 32, 32);
}

#img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card {
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.6);
    cursor: default;
}